body{
background:url("C:\inetpub\wwwroot\MipaginaWeb\imagenes\blackground.jpg");no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}